.form {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	margin-top: 10px;
}

.input {
	padding: 5px 15px;
	border-right: none;
	outline: none;
	border-radius: 20px 0 0 20px;
	border-color: rgb(247, 90, 90);
}

.button {
	padding: 5px 10px;
	border-left: none;
	border-radius: 0 20px 20px 0;
	cursor: pointer;
	font-weight: 700;
	background-color: rgb(247, 90, 90);
	color:rgb(0, 0, 0);
	border-color: rgb(247, 90, 90);;
}