.button {
	padding: 5px 10px;
	border-left: none;
	border-radius: 0 20px 20px 0;
	cursor: pointer;
	font-weight: 700;
	background-color: rgb(247, 90, 90);
	color:rgb(0, 0, 0);
	border-color: rgb(247, 90, 90);;
}