.messageBlock {
	list-style-type: none;
	padding: 0;
}

.message{
	text-align:center;
	padding: 0 10px;
	margin-bottom: 10px;
	width: 200px;
	background-color: rgb(221, 221, 221);
	color: #000;
}

.user {
	font-size: 14px;
}

.text {
	font-size: 18px;
	font-weight: 700;
}

