ul {
	list-style-type: none;
}

ul > li {
	text-align: center;
	margin-bottom: 10px;
	padding-top: 3px;
	width: 200px;
	height: 85px;
	background-color: #333;
	color: #fff;
}

li > p {
	text-transform: uppercase;
}