.messageBlock {
	list-style-type: none;
	width: 50%;
	margin: 0 auto;
	background-color:aliceblue;
	padding:20px 0;
	border-radius: 10px;
}

.message{
	margin: 0 auto;
	margin-bottom: 10px;
	max-width: 300px;
	height: 25px;
	padding: 10px 20px;
	border-radius: 50px;
	background-color: rgb(0, 0, 0);
	color: #fff;
}

.user {
	font-size: 19px;
	font-weight: 700;
	margin-right: 20px;
	color: rgb(85, 139, 220);
}

.text {
	font-size: 18px;	
}
